<% if (title) {%>
  <h1>
    <%= title %>
  </h1>
<%} else {res.redirect('/')} %>


<%-messages() %>

<div class="adminHomePage">
  <div id="adminAccountPage">
    <h2>Account Management</h2>

    <a id="addUser" style="margin-right: 7px;" href="/account/register">Add User</a><br><br>
    <a id="updateUser"  href="#">Update User</a><br><br>
    <a id="deleteUser" href="/account/delete">Delete User</a>

  </div>


  <div id="adminInvPage">
    <h2>Manage Inventory</h2>
    <a id="inventoryManagement" href="/inv">Inventory Management</a>  
  </div>
</div>
<br><br><br>
 <div id="adminLogout">
    <a href="/" style="margin-left: 20px;">Logout</a>
  </div>

