<% if (title) {%>
  <h1>
    <%= title %>
  </h1>
<%} else {res.redirect('/')} %>


<%- messages() %>



<form id="loginForm" action="/account/login" method="post">
  <fieldset id="loginFieldset" >
    <label class="loginFormLabel">Email:</label>
    <input type="email" name="account_email" placeholder="Enter a valid email address" required><br><br>


    <label for="accountPassword" class="loginFormLabel">Password:</label>
    <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br><br>
    

    <button style=" margin-left: 25%; background-color: white; width: 30%; color: black; border-radius: 12px; padding: 2px; cursor: pointer; " type="submit" id="loginButton">LOGIN</button>
    <p id="registerAccountText">No account? <a id="registerAccount" href="/account/register">Sign-up</a></p>
  </fieldset>
</form>

