<h1><%= title %></h1>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>


<!-- Registration forms-->
 <p style="text-align: justify; margin-left: 15%;">Please fill the form below to register</p><br>

<form action="/account/register" method="post" id="regForm" style=" background-color: rgb(155, 213, 210);">
  <fieldset>
    <label for="account_firstname" style="color: black;">First Name:</label>
    <input type="text" name="account_firstname" id="account_firstname" required value="<%= locals.account_firstname %>"><br><br>

    <label for="account_lastname" style="color: black;">Last Name:</label>
    <input type="text" name="account_lastname" id="account_lastname" required value="<%= locals.account_lastname %>"><br><br>

    <label for="account_email" style="color: black;">Email:</label>
    <input
        type="email"
        name="account_email"
        placeholder="Enter a valid email address"
        id="account_email"
        required
    ><br><br>
    
    <label for="account_password" style="color: black;">Password:</label>
    <span style="color: black;  font-size: 12px; font: lighter; margin-left: 6%;">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
    <input
        type="password"
        name="account_password"
        placeholder="Must be 12, contain 1 special character, a number and an uppercase"
        id="account_password"
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    ><br><br>

    <button type="submit" id="submitBtn" style=" margin-left: 25%; background-color: rgb(17, 0, 255); width: 30%; color: rgb(255, 255, 255); border-radius: 12px; padding: 2px; cursor: pointer; ">Register</button>
    <p id="registerAccountText" style="color: black;">Already have account? <a id="registerAccount" href="/account/login">Login</a></p>
  </fieldset>
</form>



