<h1>Welcome to CSE 340 Motors</h1>

<div class="hero-image">
  <img src="/images/vehicles/delorean-tn.jpg" alt="Nice Car" />
  <div class="hero-overlay-text">
     <div id="dmc-header">DCM Delorean</div>
    <p >
      3 Cup holders <br />
      Superman doors <br />
      Fuzzy dice!
    </p>
    <img id="blue-text" src="/images/site/own_today.png" alt="Blue text" />
  </div>
</div>

<hr />
<article class="grid-view">
  <!---DMC Delorean Reviews-->
  <div id="grid-1">
    <h2>DMC Delorean Reviews</h2>
    <div id="dmcReviews">
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feelig McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day" (4.5/5)</li>
        <li>"80's lives and I love it!" (5/5)</li>
      </ul>
    </div>
  </div>

  <hr />

  <!---Upgrades-->
  <div id="grid-2">
    <h2>Delorean Upgrades</h2>
    <div id="upgrades">
      <section>
        <div class="upgrades-section-1">
          <img
            class="grid-image"
            src="/images/upgrades/flux-cap.png"
            alt="Flux Cap"
          />
        </div>
        <a href="#" target="_blank">Flux Capacitor</a>
      </section>

      <section>
        <div class="upgrades-section-2">
          <img
            class="grid-image"
            src="/images/upgrades/flame.jpg"
            alt="Flame"
          />
        </div>
        <a href="#" target="_blank">Flame Decals</a>
      </section>

      <section>
        <div class="upgrades-section-3">
          <img
            class="grid-image"
            src="/images/upgrades/bumper_sticker.jpg"
            alt="Bumper Sticker"
          />
        </div>
        <a href="#" target="_blank">Bumper Stickers</a>
      </section>

      <section>
        <div class="upgrades-section-4">
          <img
            class="grid-image"
            src="/images/upgrades/hub-cap.jpg"
            alt="Hub Cap"
          />
        </div>
        <a href="#" target="_blank">Hub Cups</a>
      </section>
    </div>
  </div>
</article>
