/*** MOBILE SIZE VIEW *****/
body {
  margin: 0 0 0 0;
}
main {
  margin: 0 2% 0 2%;
}
#top-header {
  display: flex;
}
#title {
  text-align: center;
}
.siteName {
  font-size: 1.3rem;
  font: bolder;
  margin-right: 40%;
  background-color: white;
}

.siteName a {
  text-decoration: none;
  color: black;
}
#tools {
  background-color: rgb(0, 0, 0);
  border: 6px solid rgb(71, 0, 0);
  font-size: large;
  padding: 5px;
  border-radius: 6px;
}
#tools a {
  text-decoration: none;
  font-size: 0.75rem;
  color: white;
}

/***DIsplay navigation in block 
  direction with no decoration *****/

nav ul {
  display: block;
  list-style: none;
  margin: 15px;
  margin-left: -40px;
}
nav li:active{
  background-color: chocolate;
}

li {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0.85rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
  cursor: pointer;
}

/** Body stylings ***/
.bg {
  display: none;
}
.hero-image img {
  width: 100%;
  height: auto;
  position: relative;
}
/*** Hero Overlay **/
.hero-overlay-text {
  position: relative;
  background-color: #dfdada;
  margin: 0 0 1rem 1rem;
  border: 1px solid #dbd8d8;
  width: fit-content;
  height: fit-content;
  transform: translate(0, -140%);
  margin: 4px;
  opacity: 0.8;
}

.hero-overlay-text img {
  width: 65%;
  height: 30px;
  margin-top: -10px;
}
.hero-overlay-text h2,
.hero-overlay-text p {
  color: rgb(0, 68, 255);
  margin-top: -3px;
  font-size: 1rem;
}
.hero-overlay-text h2 {
  margin-bottom: 5px;
}

#dmcReviews li {
  text-decoration: none;
  background-color: white;
  color: black;
  text-align: justify;
  margin-left: -15px;
}
#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#upgrades section {
  margin-bottom: 20px;
}
.upgrades-section-1 {
  grid-column: 1;
  grid-row: 1;
  background-color: darkcyan;
  margin-right: 10px;
  border: 1px solid black;
}
.upgrades-section-2 {
  grid-column: 2;
  grid-row: 1;
  background-color: darkcyan;
  margin-right: 10px;
  border: 1px solid black;
}
.upgrades-section-3 {
  grid-column: 1;
  grid-row: 2;
  background-color: darkcyan;
  margin-right: 10px;
  border: 1px solid black;
}
.upgrades-section-4 {
  grid-column: 2;
  grid-row: 2;
  background-color: darkcyan;
  margin-right: 10px;
  border: 1px solid black;
}

.grid-image {
  width: 50px;
  height: 50px;
  margin-left: 35%;
  padding-top: 5px;
}

#upgrades section a {
  margin-left: 40px;
  color: darkblue;
}

/****** Vehicle Detail View Stylings ****/
.inv-display {
  display: block;
}
#detailsList {
  list-style: none;
  text-decoration: none;
}
#detailsLeft {
  border-bottom: 2px solid chocolate;
  border-radius: 10px;
}

#detailsRight {
  border: 1px solid black;
  background-color: chocolate;
  border-radius: 12px;
}
.vehicle-info {
  flex-direction: column;
}

.vehicle-image,
.vehicle-details {
  max-width: 100%;
}

#inv-display {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#inv-display li {
  margin-bottom: 0.5em;
  border: 1px #ccc solid;
  list-style-type: none;
  flex: 1 1 auto;
  text-align: center;
}
#inv-display li img {
  object-fit: fill;
}
