<% if (title) {%>
  <h1>
    <%= title %>
  </h1>
<%} else {res.redirect('/')} %>


<%-messages %>

<div class="warning" >
  <% if (errors && errors.length > 0) { %>
    <ul class="message warning">
      <% errors.forEach(error => { %>
        <li style="color: Red;"><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<h2>Manage CLassification</h2>

<a id="addClassification" href="/inv/add-classification">Add New Classification</a><br><br>
<a id="addInventory" href="/inv/add-inventory">Add New Inventory</a>


<br><br><br><br>
<h2>Manage Inventory</h2>
<p>Select a classification from the list</p>
<%-classificationSelect %>


<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<br><br>


<script src="../../js/inventory.js"></script>
